@charset "UTF-8";



body{

    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; */
    font: normal 16px arial,verdana,serif ;
    text-align: justify;

}
h1,h2{
    text-align: center;
}
p{
    text-indent: 30px;
}
    